#container-logos{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    padding: 5% 0;
}

#header-box{
   

}

#button-navigation{
    height: 50px;
    width: 50px;
}

.buttons{
    font-size: 5vw;
}